/* ========================================
LAYOUT
* The Layout contains a set of configurations
* Other than assigning classes to your markup, you assign your style to your html.
* should contain very basic theming
======================================== */

* {
    box-sizing: border-box;
    transition: opacity color height width @duration-action ease;
}

header {
    .stripe(small, 1*16, @color-primary);
    color: @color-light;
    font-size: 2em;
}

section {
    .stripe(small, 1*16, @color-light);
}

section.breakpoints > * {
    .stripe(small, 1*16);
}

section > div {
    position: relative;
}

section.code {
    .stripe(fluid, fluid, lighten(@color-dark, 10%));
    color: @color-light;
    > div {
        min-height: 10em;
    }
}

breakpoint {
    display: block;
    > div {
        display: block;
    }
}

.slider {
    margin: 1em 0 3em;
}

.github-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.flex-layout {
    background: @color-light;
    padding: 1em;
    [layout="column"] {
        height: 10em;
    }
    div {
        outline: 1px solid @color-dark-shadow;
        padding: 1em;
        background: fadeout(@color-primary, 25%);
    }
}

menu {
    margin: 0 auto;
    padding: 1em 0;
    div > .button {
        margin-right: 1em;
    }
}

editor {
    position: relative;
}
